html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.centered {
    position: fixed;
    width: 100px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 200px;
}

img {
    width: 100px;
}

h1 {
    font-weight: 300;
    opacity: .3;
    text-align: center;
    margin-top: 0;
}